.content {
  min-width: 130px;
  padding-left: 15px;
  width: 100%;

  .breadCrumbs--button {
    background: rgba(1, 1, 1, 0);
    border: none;
    color: #646464;
    cursor: pointer;
    padding: 0 5px;
  }
}
