.node {
  background-color: #f3f3f3;
  border: none;
  color: #646464;
  cursor: pointer;
  font-weight: 500;
  padding-left: 15px;
  text-align: left;
  width: 100%;

  .arrow {
    margin-right: 10px;
    transform: rotate(-45deg);
  }
}

.node__active {
  border: 1px solid black;
  border-radius: 5px;
}
